* {
  font-family: "Play", sans-serif;
  color: #323330;
}

body {
  background-color: #f0db4f;
}

main {
  max-width: 100%;
  max-height: 100%;
}

ul {
  display: contents;
}

.todoList li {
  list-style-type: none;
}

.todoList li.done {
  text-decoration: line-through;
}
